<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= params[:action] == 'new' ? 'Schedule' : 'Edit scheduled' %> device</h5>
        </div>
        <div class="ibox-content">
          <%= form_with(model: schedule, local: true, class: 'form-horizontal') do |form| %>
            <% if schedule.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

                <ul>
                <% schedule.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <%= form.label :device_id, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10 select">
                <%= collection_select(:schedule, :device_id, @devices, :id, :name_with_room, { prompt: 'Select device...'}, { class: 'form-control'} ) %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <%= form.label :frequency, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10 select">
                <%= form.select(:frequency, Schedule.frequencies.keys.map {|frequency| [frequency.titleize,frequency]}, {}, { class: 'form-control' }) %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" id="start-end-date">
              <label class="col-sm-2 control-label">Date</label>
              <div class="col-sm-10">
                <div class="input-daterange input-group" id="datepicker">
                  <%= form.text_field :start_date, value: (form.object.start_date.strftime('%d-%m-%Y') if form.object.start_date), class: 'form-control', autocomplete: 'off' %>
                  <span class="input-group-addon">till</span>
                  <%= form.text_field :end_date, value: (form.object.end_date.strftime('%d-%m-%Y') if form.object.end_date), class: 'form-control', autocomplete: 'off'  %>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <%= form.label :start_time, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <div class="input-time input-group select">
                  <%= form.time_select :start_time, { minute_step: 5, time_separator: time_separator }, { class: 'form-control' } %>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <%= form.label :end_time, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <div class="input-time input-group">
                  <%= form.time_select :end_time, { minute_step: 5, time_separator: time_separator }, { class: 'form-control' } %>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <%= form.label :inversed, 'Inverse on/off', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <div class="i-checks" style="padding-top: 5px;"><label> <%= form.check_box :inversed %></label></div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <% if schedule.persisted? %>
                  <div class="pull-right">
                    <%= link_to 'Destroy', schedule, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
                <div class="pull-left">
                  <%= link_to  "Cancel", @back_url, class: 'btn btn-white' %>
                  <%= form.submit class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>

  <script type="text/javascript">

    $(document).ready(function(){
      $('#start-end-date .input-daterange').datepicker({
        keyboardNavigation: false,
        format: "dd-mm-yyyy",
        forceParse: false,
        autoclose: true,
        todayHighlight: true,
        toggleActive:true
      });

      $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green'
      });
    });
  </script>
<% end %>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

});

</script>

<% end %>
