<div class="row border-bottom white-bg dashboard-header">
  <div class="col-sm-3">
    <h2>Welcome <%= current_user.first_name %></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <% @areas.each do |area| %>
      <div class="col-md-6">
        <div class="ibox float-e-margins">
          <%= link_to '#' do %>
            <div class="ibox-link-tile">
              <span class="pull-right"><i class="fas fa-arrow-right"></i></span>
              <h5><i class="fas <%= area.icon %>"></i> <%= area.name %></h5>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="widget style1 navy-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fas fa-cloud fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Temperature</span>
            <h2 class="font-bold">26.0 &deg;C</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="widget style1 lazur-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fas fa-calendar-alt fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span><%= Time.zone.today.strftime("%d-%m-%Y") %></span>
            <h2 class="font-bold"><%= Time.zone.today.strftime("%A") %></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Calendar</h5>
        </div>
        <div class="ibox-content inspinia-timeline">
          <div class="timeline-item">
            <div class="row">
              <div class="col-xs-3 date">
                <i class="fa fa-coffee"></i>
                8:00 am
                <br>
              </div>
              <div class="col-xs-9 content no-top-border">
                <p class="m-b-xs"><strong>Coffee Break</strong></p>
                <p>
                  Go to shop and find some products.
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-item">
            <div class="row">
              <div class="col-xs-3 date">
                <i class="fa fa-phone"></i>
                11:00 am
                <br>
                <small class="text-navy">21 hour ago</small>
              </div>
              <div class="col-xs-9 content">
                <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
