<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Areas</h2>
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to areas_path, class: 'btn btn-default' do %>
        <span class="fa fa-list-alt"></span>
        Overview
      <% end %>
      <%= link_to edit_area_path(@area), class: 'btn btn-primary' do %>
        <span class="fa fa-pencil"></span>
        Edit
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Area details</h5>
        </div>
        <div class="ibox-content">
          <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><%= @area.name %></dd>

            <dt>Icon:</dt>
            <dd><%= @area.icon %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

