<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2><%= @area.name %></h2>
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="rooms">
      <Rooms :area_id="<%= params[:id] %>"></Rooms>
    </div>
    <% @area.rooms.each do |room| %>
      <div class="col-lg-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><%= room.name %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row">
              <% room.devices.each do |device| %>
                <div class="col-lg-6 m-b-sm" style="height:25px;">
                  <div class="pull-left">
                    <i class="fas <%= device.icon %>"></i> <%= device.name %>
                  </div>
                  <div class="pull-right">
                    <% if device.device_type == 'switch' %>
                      <input type="checkbox" class="js-switch" checked />
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
    elems.forEach(function(html) {
      var switchery = new Switchery(html, { color: '#1AB394' });
    });
  </script>
<% end %>
