<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= params[:action] == 'new' ? 'Create new' : 'Edit' %> device</h5>
        </div>
        <div class="ibox-content">
          <device-form
            :id="<%= device.id.to_json %>"
            :device="<%= device.to_json(except: [:id, :current_state, :created_at, :updated_at]) %>"
            :device-types="<%= Device.device_types.to_json %>"
            :rooms= "<%= @rooms.to_json(only: [:id], methods: [:name_with_area]) %>"
            >
          </device-form>
        </div>
      </div>
    </div>
  </div>
</div>
