<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Devices</h2>
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to admin_devices_path, class: 'btn btn-default' do %>
        <span class="fas fa-list-alt"></span>
        Overview
      <% end %>
      <%= link_to edit_admin_device_path(@device), class: 'btn btn-primary' do %>
        <span class="fas fa-pencil-alt"></span>
        Edit
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Device details</h5>
        </div>
        <div class="ibox-content">
          <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><%= @device.name %></dd>
            <dt>Device type:</dt>
            <dd><%= @device.device_type.titleize %></dd>
            <dt>Room:</dt>
            <dd><%= @device.room.name %></dd>
            <dt>Icon:</dt>
            <dd><i class="fas <%= @device.icon %>"></i> <%= @device.icon %></dd>
            <dt>Current state:</dt>
            <dd><%= @device.current_state %></dd>
            <dt>Mqtt topic:</dt>
            <dd><%= @device.mqtt_topic %></dd>
            <% if @device.device_type == 'switch' %>
              <dt>Mqtt on message:</dt>
              <dd><%= @device.data['mqtt_on_message'] %></dd>
              <dt>Mqtt off message:</dt>
              <dd><%= @device.data['mqtt_off_message'] %></dd>
            <% end %>
            <dt>Mqtt state topic:</dt>
            <dd><%= @device.mqtt_state_topic %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
