<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Areas</h2>
    <ol class="breadcrumb">

    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
        <span class="fa fa-list-alt"></span>
        Overview
      <%% end %>
      <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary' do %>
        <span class="fa fa-pencil"></span>
        Edit
      <%% end %>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= singular_table_name.capitalize %> details</h5>
        </div>
        <div class="ibox-content">
          <dl class="dl-horizontal">
            <%- attributes.each do |attribute| -%>
            <dt><%= attribute.human_name %>:</dt>
            <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
            <%- end -%>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

