<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="logo-element">
          B<i class="fas fa-home"></i>
        </div>
        <div class="logo-image">
          <%= link_to image_tag("logo.png", class: 'img-responsive'), root_path %>
        </div>

      </li>
      <li class="nav-title">
        Navigation
      </li>
      <li class="<%= is_active_controller('pages') && is_active_action('dashboard') %>">
        <%= link_to root_path do %>
          <i class="fas fa-th-large"></i> <span class="nav-label">Dashboard</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('schedules') %>">
        <%= link_to schedules_path do %>
          <i class="fas fa-clock"></i> <span class="nav-label">Schedule</span>
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li class="nav-title-divider"></li>
        <li class="nav-title">
          Administrator tools
        </li>
        <li class="<%= is_active_controller('admin/areas') %>">
          <%= link_to '' do %>
            <i class="fas fa-map-marker"></i> <span class="nav-label" >Areas</span><span class="fas arrow"></span>
          <% end %>
          <ul class="nav nav-second-level <%= is_active_controller('admin/areas', 'in') %>">
            <li class="<%= is_active_controller('admin/areas') && is_active_action('index') %>"><%= link_to "Area overview", admin_areas_path %> </li>
            <li class="<%= is_active_controller('admin/areas') && is_active_action('new') %>"><%= link_to "New area", new_admin_area_path %> </li>
          </ul>
        </li>
        <li class="<%= is_active_controller('admin/rooms') %>">
          <%= link_to '' do %>
            <i class="fas fa-door-open"></i> <span class="nav-label" >Rooms</span><span class="fas arrow"></span>
          <% end %>
          <ul class="nav nav-second-level <%= is_active_controller('admim/rooms', 'in') %>">
            <li class="<%= is_active_controller('admin/rooms') && is_active_action('index') %>"><%= link_to "Room overview", admin_rooms_path %> </li>
            <li class="<%= is_active_controller('admin/rooms') && is_active_action('new') %>"><%= link_to "New room", new_admin_room_path %> </li>
          </ul>
        </li>
        <li class="<%= is_active_controller('admin/devices') %>">
          <%= link_to '' do %>
            <i class="fas fa-mobile-alt"></i> <span class="nav-label" >Devices</span><span class="fas arrow"></span>
          <% end %>
          <ul class="nav nav-second-level <%= is_active_controller('admin/devices', 'in') %>">
            <li class="<%= is_active_controller('admin/devices') && is_active_action('index') %>"><%= link_to "Device overview", admin_devices_path %> </li>
            <li class="<%= is_active_controller('admin/devices') && is_active_action('new') %>"><%= link_to "New device", new_admin_device_path %> </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
