<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="logo-element">
          B<i class="fas fa-home"></i>
        </div>
        <div class="logo-image">
          <%= link_to image_tag("logo.png", class: 'img-responsive'), root_path %>
        </div>

      </li>
      <li class="nav-title">
        Navigation
      </li>
      <li class="<%= is_active_action('index') %>">
        <%= link_to root_path do %>
          <i class="fas fa-home"></i> <span class="nav-label">Home</span>
        <% end %>
      </li>
      <li class="<%= is_active_action('dashboard') %>">
        <%= link_to dashboard_path do %>
          <i class="fas fa-th-large"></i> <span class="nav-label">Dashboard</span>
        <% end %>
      </li>
      <li class="nav-title-divider"></li>
      <li class="nav-title">
        Administrator tools
      </li>
      <li class="<%= is_active_controller('areas') %>">
        <%= link_to '' do %>
          <i class="fas fa-map-marker"></i> <span class="nav-label" >Areas</span><span class="fas arrow"></span>
        <% end %>
        <ul class="nav nav-second-level <%= is_active_controller('areas', 'in') %>">
          <li class="<%= is_active_action('index') %>"><%= link_to "Area overview", areas_path %> </li>
          <li class="<%= is_active_action('new') %>"><%= link_to "New area", new_area_path %> </li>
        </ul>
      </li>
      <li class="<%= is_active_controller('rooms') %>">
        <%= link_to '' do %>
          <i class="fas fa-door-open"></i> <span class="nav-label" >Rooms</span><span class="fas arrow"></span>
        <% end %>
        <ul class="nav nav-second-level <%= is_active_controller('rooms', 'in') %>">
          <li class="<%= is_active_action('index') %>"><%= link_to "Room overview", rooms_path %> </li>
          <li class="<%= is_active_action('new') %>"><%= link_to "New room", new_room_path %> </li>
        </ul>
      </li>
      <li class="<%= is_active_controller('devices') %>">
        <%= link_to '' do %>
          <i class="fas fa-mobile-alt"></i> <span class="nav-label" >Devices</span><span class="fas arrow"></span>
        <% end %>
        <ul class="nav nav-second-level <%= is_active_controller('devices', 'in') %>">
          <li class="<%= is_active_action('index') %>"><%= link_to "Device overview", devices_path %> </li>
          <li class="<%= is_active_action('new') %>"><%= link_to "New device", new_device_path %> </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
